* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins,sans-serif;
}
footer {
    display: block;
    margin-top: 100px;
}
footer.footer .footer-wrapper {
    border-top: 1px solid #c8c7cc;
    padding: 60px 0;
}
.justify-between {
    justify-content: space-between;
}
.flex-wrap {
    flex-wrap: wrap;
}
.flex {
    display: flex;
}
footer.footer .footer-wrapper .footer-item {
    flex: 0 0 calc(100% / 5 - 15px);
    max-width: calc(100% / 5 - 15px);
    margin-bottom: 20px;
}
footer.footer .footer-wrapper .footer-item .footer-logo {
    display: block;
    max-width: 145px;
}
a {
    background-color: transparent;
    text-decoration: none;
}
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}
footer.footer .footer-bottom {
    padding-bottom: 60px;
}
.items-center {
    align-items: center;
}
footer.footer .footer-bottom .footer-copyright {
    font-size: 14px;
    color: #828282;
}
p {
    font-weight: 400;
    line-height: 1.4;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
footer.footer .footer-wrapper .footer-item .footer-useful-link a {
    display: block;
    color: #828282;
    margin-bottom: 10px;
    transition: .3s ease;
    text-decoration: none;
}